/* Resumebuilder.css */

body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.resume {
    width: 70%;
    margin: 40px auto;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #2c3e50;
}

.contact-info {
    font-size: 14px;
    margin-top: 15px;
}

.contact-info a {
    color: #2980b9;
    text-decoration: none;
    margin-right: 15px;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info span {
    color: #2c3e50;
}

/* Horizontal Line */
.line-1 {
    border: 0;
    border-top: 4px solid #2980b9; /* Thicker line */
    margin: 15px 0;
}

/* Section Titles */
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2980b9;
    margin-bottom: 15px;
}

/* Profile Section */
p {
    font-size: 16px;
    line-height: 1.6;
    color: #34495e;
    text-align: justify;
}

/* Skills Section */
ul {
    padding-left: 20px;
    font-size: 16px;
}

ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;

}

ul li strong {
    color: #34495e;
}

/* Job Titles and Dates */
.job {
    margin-bottom: 25px;
}

.job h3 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 5px;
}

.job h4 {
    font-size: 16px;
    color: #7f8c8d;
    margin-bottom: 15px;
}

.job ul {
    padding-left: 20px;
}

.job ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #34495e;
}

/* Education and Awards Section */
ul li strong {
    color: #2c3e50;
    font-weight: bold;
}


